<footer>
  <div class="grid">
    <div class="unit half center-on-mobiles">
      <p>
        <a href="http://moosewoler.github.io/">王俊</a> <a href="http://www.github.com/moosewoler">moosewoler</a>
        <a href="mailto:oler@tom.com">oler@tom.com</a> 
      </p>
      <p>
        Theme by <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a>,
        <a href="http://quaran.to/">Nick Quaranto</a>
      </p>
    </div>
    <div class="unit half align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
