<div class="journal_container grid">
    <!-- journal header -->
    <div class="journal_header grid hide-on-mobiles">
        <div class="unit half"> <a href="/{{ page.categories }}">{{ page.categories }}</a> </div>
        <div class="unit half align-right"> {{ page.date }} </div>
        <hr class="grid whole">
    </div>

    <!-- journal body -->
    <div class="journal_body unit grid">
        <div class="journal_title unit align-center">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="journal_author unit align-center">
            {{ page.author }}
        </div>
        <div class="journal_date unit align-center">
            {{ page.date }}
        </div>
        <div class="journal_abstract unit">
            <b>摘要：</b>
            {{ page.abstract }}
        </div>
        <div class="journal_keyword unit">
            <b>关键词：</b>
            {% for tag in page.tags %}
            <li>
                {{ tag }}
            </li>
            {% endfor %}
        </div>
        <div class="journal_text unit">
            {{ content }}
        </div>
        <div class="journal_reference unit">
        </div>
    </div>
    <div class="journal_footer grid">
    </div>
</div>
